.title {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding: 0.5em 0;
    
}

.leaderboard-container {
    /* background-color: pink; */
    /* padding: 2em; */
}

.player-inner-container {
    
}

.player-container {
    padding: 0.25em 2em;
    background-color: var(--leaderboard-even-background-color);
}

.player-container:first-child{
    box-shadow: var(--card-shadow-color) 0 -3px;
}

.player-container:last-child {
    box-shadow: var(--card-shadow-color) 0px 3px;
}

.player-container:nth-child(odd) {
    background-color: var(--leaderboard-odd-background-color);
}

.player-position, .player-point {
    /* background-color: white; */
    display: inline-block;
    font-size: 1.5em;
}

.player-name {
    display: inline-block;
    font-size: 1em;
    width: 50vw;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    /* background-color: pink; */
}

.player-position {
    margin-right: 1em;
    font-weight: bold;
}

.player-point {
    float: right;
    font-weight: bold;
    color: var(--point-text-color);
    position: relative;
    transform: translateX(-1em);
}

.player-point::after {
    /* content: url("../../assets/image/gold_coin.png"); */
    content: "";
    background: url("../../assets//image/gold_coin.png") no-repeat;
    background-size: 100%;
    width: 1em;
    height: 1em;
    /* height:10px; */
    /* background-color: pink; */
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}