<div class="title">
    Leaderboard
</div>
<div class="leaderboard-container">
    <div *ngFor="let player of top; let i = index" class="player-container">
        <div class="player-inner-container">
            <div class="player-position">
                {{i+1}}.
            </div>
            <div class="player-name-container">
                <span class="player-name">
                    {{player.username}}
                </span>
                
            </div>
            <div class="player-point-container">
                <span class="player-point">{{player.totalPoint}}</span>
                <img src="../../assets/image/gold_coin.png" alt="points" class="player-point-coin">
            </div>
            <div></div>
        </div>
    </div>
</div>

<app-nav-bar></app-nav-bar> 