.background {
    position: fixed;
    z-index: -1;
    top: 0; left:0;
    width: 100vw; height: 100vh;
    background-image: var(--theme-path-empty);
    background-size: 100% auto;
    background-repeat: repeat-y;

    filter: blur(1.5px);
}

.background:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
  }

.content {
    margin-top: 25%;
    padding: 0 10%;
}

.quest-name, .quest-title {
    font-family: "Lunchtime Doubly So";
}

.quest-name {
    color: #ffca83;
    font-weight: bold;
    text-shadow: -2px 0 #654f33;
    font-size: 1.25em;
}

.quest-title {
    color: #bdb1a7;
    font-weight: bolder;
    text-shadow: -1px 2px #67605b;
    font-size: 1.3em;
}

.max-size{
    max-width: 100%;
    max-height: 50vh;
}

.msg-image{
    width: 100%;
}

.imagemsg {
    max-width: 100%;
    max-height: 50vh;
}

.quest-img {
    text-align: center;
}

.nav-button-container {
    position: fixed;
    bottom: 10%;
    text-align: center;
    width: 100%;
}

.quest-solve-btn {
    display: inline-block;
    color: #F0DED0;
    background-color: #1f1f1f;
    border-radius: 30px;
    border: 2px solid #a56a16;
    padding: 10px 100px;
    font-family: "Lunchtime Doubly So";
}

.quest-back-btn {
    text-decoration: underline;
    color: gray;
    font-family: "Lunchtime Doubly So";
    margin-top: 5px;
}

.camera-container {
    position: fixed;
    width: 100vw; height: 100vh;
    top: 0; left:0;
    background-color: black;
    text-align: center;
}

.rounded-camera, .camera {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}

.fadein {
    animation: fade 500ms; -webkit-animation: fade 500ms;
}
@keyframes fade {from {opacity: 0} to {opacity: 1}}
@-webkit-keyframes fade { from {opacity: 0} to {opacity: 1}}

.camera-temp-background, .camera-loading {
    position: absolute;
    display: inline-block;;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

.camera-temp-background {
    width: 90vmin; height: 90vmin;
    background-color: wheat;
}

.rounded-camera {
    border-radius: 50%;
    display: inline-block;
    width: 90vmin; height: 90vmin;
    box-shadow: black 0 0 0 50vmax, inset 0 0 2.5vmin 2.5vmin black;
    border: inset;
}

.cover-screen {
    position: absolute;
    display: inline-block;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    z-index: 100;
}

:host /deep/ video{
    min-height: 95vmin !important;
    min-width: 95vmin !important;
}


