<div class="background"></div>

<div class="content">
    <div *ngIf="!showMessage">
        <div class="quest-name">
            {{questName}}
        </div>
        <div class="quest-title">
            {{quest.title}}
        </div>
        <div *ngIf="quest.image64" class="quest-img">
            <img [src]="'data:image/png;base64,' + quest.image64" class="imagemsg">
        </div>
    </div>
    <div *ngIf = "showMessage">
        <img src="../../../assets/image/grats.gif" class="msg-image" *ngIf="correct"/>
        <img src="../../../assets/image/tryagain.gif" class="msg-image" *ngIf="!correct"/>
        {{message}}
    </div>

</div>

<div class="camera-container fadein" *ngIf="showCamera">
    <div class="camera-temp-background"></div>
    <div class="camera-loading">Telescope loading...</div>
    <zxing-scanner (scanSuccess)="ScanCallback($event)" [formats]="['BarcodeFormat.QR_CODE']" class="camera"></zxing-scanner>
    <div class="rounded-camera"></div>
</div>


<div class="nav-button-container">
    <div (click)="ToggleCamera()" class="quest-solve-btn">{{showCamera?"Nevermind":"Solve!"}}</div>
    <div (click)="emit({key:'back'})" class="quest-back-btn">Back to Campaign</div>
</div>

<div *ngIf="showMessage" class="cover-screen" (click)="dismiss()"></div>