.QR-button {
    background-color: orange;
    color: red;
    text-align: center;
    font-size: 3em;
    font-weight: bolder;
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translate(-8px);
}

/* .scanner-background {
    top: 0;
    position: absolute;
    height: 100vh;                  
    width: 100%;
    z-index: 998;
    
} */

.scanner-outer-container {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
}

.scanner-background {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 998;
}

.scanner-container{
    position: relative;
    top: 0; left: 0;
    width: 90%;
    transform: translate(calc(50vw - 50%),calc(50vh - 50%));
    display: inline-block;
    z-index: 999;
}

.scanner{
    z-index: 998;
}

.scan-line{
    position: absolute;
    width: 100%; height: 3px;
    background-color: rgba(255,255,255,0.5);
    animation: up-down-scan 2s infinite;
}

@keyframes up-down-scan{
    0%{top: 0;}
    50%{top: 100%;}
    100%{top: 0;}
}

.scan-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);;
    width: 80%;
    height: 80%;
    background-color: rgba(255,255,255,0.1);
}

.scan-box-corner{
    width: 20%;
    height: 20%;
    position: absolute;
    /* background-color: black;; */
}

.scan-box-top{
    top: 0;
    border-top: 3px solid white;
}
.scan-box-bot{
    bottom: 0;
    border-bottom: 3px solid white;
}
.scan-box-left{
    left: 0;
    border-left: 3px solid white;
}

.scan-box-right{
    right: 0;
    border-right: 3px solid white;
}

.scan-box-text{
    color: white;
    padding-left: 10px;
    padding-top: 10px;
    font-weight: bold;
}



/* Dialog */

.message-dialog-container{
    text-align: center;
}

.message-dialog-main-text{
    font-size: 2em;
    font-weight: bold;
}

.message-dialog-sub-text{
    font-size: 1.5em;
}