<div>
    wassap curious user. welcome to trésor, a capstone project worked on by three year three IT students.
</div>
<br/>
<div>
    this is a temporary page, that's why it looks so good.
</div>
<br/>
<div>
    i promise you the rest of the game looks better.
</div>
<br/>
<div>
    Please contact any of the following for any inquiries
    <div>Nicholas Ong, Design Lead (s10182648@connect.np.edu.sg)</div>
    <div>Robin Yong, Technical Lead (s10179209@connect.np.edu.sg)</div>
    <div>Sherline Sim, Project Lead (s10177516@connect.np.edu.sg)</div>
</div>
<br/>
<div (click)="redirect()">click here to play lol</div>