




<div class="cover-screen but-at-the-back backstory-background"></div>

<div *ngIf="nextable" class="cover-screen" (click)="Next()"></div>


<div *ngIf="state=='backstory'" class="text-box at-center-of-screen">
    <div *ngIf="!showImage">
        <div class="campaign-title">{{campaign.title}}</div>
        {{displayText}}
        <div class="arrow-right"></div>
    </div>
    <div *ngIf="showImage" class="in-center-of-container">
        <img [src]="'data:image/png;base64,' + displayText" class="dun-too-big appear-small-to-big-and-spin-in">
    </div>
</div>
<div *ngIf="['intro','completed'].includes(state) || (state=='quests' && !questStoryOver)" class="text-box at-bottom-of-screen wooden white">
    <div *ngIf="!showImage">
        {{displayText}}
        <div class="arrow-right white"></div>
    </div>
    <div *ngIf="showImage" class="in-center-of-container appear-small-to-big">
        <img [src]="'data:image/png;base64,' + displayText" class="dun-too-big">
    </div>
</div>

<div *ngIf="showCampaign">
    <div *ngFor="let questId of questKeys" class="path" [attr.id]="questId" [ngClass]="{'end':questId==campaign.endQuest,'start':questId==campaign.startQuest}">
        <div class="quest-node" (click)="SelectQuest(questId)" 
        [ngClass]="{'blink': questId == currentQuestId,'done': campaign.quest[questId].done}">
            <div *ngIf="questId == currentQuestId && state!='completed'" class="guy"></div>
        </div>
        <div *ngIf="questId == campaign.endQuest && state=='completed'" class="guy guy-won"></div>
    </div>
    <div class="path empty"></div>
</div>

<div *ngIf="currentQuest" class="cover-screen default-background">
    <div *ngIf="currentQuest.questType == 'quiz-hangman'">
        <quest-hangman (eventEmitter)="eventReceiver($event)" [quest]="currentQuest" [savedData]="campaign.savedData"></quest-hangman>
    </div>
    <div *ngIf="currentQuest.questType == 'proximity-gps'">
        <quest-proximity (eventEmitter)="eventReceiver($event)" [quest]="currentQuest"></quest-proximity>
    </div>
    <div *ngIf="currentQuest.questType == 'qr'">
        <quest-qr (eventEmitter)="eventReceiver($event)" [quest]="currentQuest.questData" [partOfCampaign]="true" [savedData]="campaign.savedData"></quest-qr>
    </div>
    <div *ngIf="currentQuest.questType == 'qr-simple'">
        <!-- <quest-qr (eventEmitter)="eventReceiver($event)" [quest]="currentQuest.questData" [partOfCampaign]="true" [savedData]="campaign.savedData" [simplified]="true"></quest-qr> -->
        <quest-simpleqr (eventEmitter)="eventReceiver($event)" [quest]="currentQuest.questData" [questName]="'Quest '+ (questKeys.length - questKeys.indexOf(currentQuestId)) + ' of ' + questKeys.length"></quest-simpleqr>
    </div>
    <div *ngIf="currentQuest.questType == 'quiz-mcq'">
        <quest-mcq (eventEmitter)="eventReceiver($event)" [quest]="currentQuest"></quest-mcq>
    </div>
    <div *ngIf="currentQuest.questType == 'quiz-oeq'">
        <quest-openended (eventEmitter)="eventReceiver($event)" [quest]="currentQuest"></quest-openended>
    </div>
</div>