
<div>
    Campaign ID: <input [(ngModel)]="campaignId"/>
</div>
<div>
    Campaign Title: <input [(ngModel)]="campaign.title"/>
</div>
<div>
    Backstory: 
    <div *ngFor="let line of campaign.backStory">
        <input [(ngModel)]="line"/>
    </div>
    <div (click)="campaign.backStory.push('')" class="btn">Add new backstory</div>
</div>
<div>
    Introduction Story: 
    <div *ngFor="let line of campaign.introText">
        <input [(ngModel)]="line"/>
    </div>
    <div (click)="campaign.introText.push('')" class="btn">Add new Introduction Story</div>
</div>
<div>
    Ending Story: 
    <div *ngFor="let line of campaign.endText">
        <input [(ngModel)]="line"/>
    </div>
    <div (click)="campaign.endText.push('')" class="btn">Add new Ending Story</div>
</div>
<div>
    Quests:
    <div *ngFor="let quest of quests">
        1
    </div>
    <div (click)="test" class="btn">Add new quest</div>
</div>

<div (click)="CreateCampaign()" class="btn">Create</div>