<background></background>

<!-- <div class="container fill">
    
    <div class="welcome-text">
        <p class="h1">Welcome!</p>
        <p>{{loggedIn?"Redirecting...":"Sign in to your Google account to proceed."}}</p>

        <a (click)="signInWithGoogle()">
            <img src="../../assets/image/auth/sign_in_with_google_button_transparent.png" class="g-signin-btn">
        </a>
    </div> 
</div> -->

<div class="main-menu-button google" (click)="signInWithGoogle()">
    <div class="main-menu-button-text google">
        Sign in (Google)
    </div>
</div>



<app-progress-spinner [color]="color" [mode]="mode" [value]="value" [backdropEnabled]="true" [positionGloballyCenter]="true"
 [displayProgressSpinner]="displayProgressSpinner">
</app-progress-spinner>

<div class="login-message">{{message}}</div>

<!-- <div class="redirect" *ngIf="redirec"></div> -->