<div class="container fill">
    <div class="welcome-text">
        <p class="h1">Welcome!</p>
        <p>Sign in to your Google account to proceed.</p>

        <a (click)="signInWithGoogle()"><img src="../../assets/image/auth/sign_in_with_google_button_transparent.png" class="g-signin-btn"></a>
    </div> 
</div>
<app-progress-spinner class="example-margin" [color]="color" [mode]="mode" [value]="value" [backdropEnabled]="true" [positionGloballyCenter]="true"
 [displayProgressSpinner]="displayProgressSpinner">
</app-progress-spinner>