<background [showTitle]="true"></background>

<div class="main-menu-button wander" (click)="NavTo('quest')">
    <div class="main-menu-button-text noselect">
        Wander
    </div>
</div>
<div class="main-menu-button campaign" (click)="NavTo('/campaign/DemoDay')">
    <div class="main-menu-button-text noselect">
        Campaign
    </div>
</div>
<div class="main-menu-button create" (click)="NavTo('/create')">
    <div class="main-menu-button-text noselect">
        Create
    </div>
</div>
<div class="round-main-menu-button-container">
    <div class="round-main-menu-button" (click)="NavTo('profile')">
        <div class="profile-icon head"></div>
        <div class="profile-icon body"></div>
    </div>
    <div class="round-main-menu-button" (click)="NavTo('leaderboard')">
        <div class="leaderboard-icon second">2</div>
        <div class="leaderboard-icon first">1</div>
        <div class="leaderboard-icon third">3</div>
    </div>
</div>


<!-- <div class="entry"></div> -->