<div class="bg-container">
    <img src="../../assets/image/main-menu/main_menu_bg.png" class="bg-xtra">
    <img src="../../assets/image/main-menu/main_menu_bg.png" class="bg">
</div>
<div class="title-container">
    <img src="../../assets/image/main-menu/main_menu_logo.png" class="title">
</div>

<div class="main-menu-button wander" (click)="NavTo('ViewQuest')">
    <div class="main-menu-button-text">
        Wander
    </div>
</div>
<div class="main-menu-button campaign" (click)="NavTo('/Campaign/OpenHouse2020')">
    <div class="main-menu-button-text">
        Campaign
    </div>
</div>
<div class="main-menu-button create">
    <div class="main-menu-button-text">
        Create
    </div>
</div>