

.main-menu-button.wander{
    top: 40.5%;
}

.main-menu-button.campaign{
    top: 51.0%;
}

.main-menu-button.create{
    top:64.5%;
}

.profile-icon {
	background: #f6cea1;
}
.profile-icon.head {

	border-radius: 100%;
	width: 35%;
	height: 35%;
	margin: 25% auto 5%;
}
.profile-icon.body {
	width: 65%;
	height: 40%;
	margin: auto;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
}
.leaderboard-icon {
    position: absolute;
    bottom: 25%;
    width: 15%;
    background: #f6cea1;
    display: inline-block;
    transform: translateX(-50%);
    color: #B29577;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
}
.leaderboard-icon.first{
    left: 50%;
    height: 50%;
}
.leaderboard-icon.second{
    left: 30%;
    height: 40%;
}
.leaderboard-icon.third{
    left: 70%;
    height: 30%;
}

/* 
.entry {
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    animation: entry 300ms linear;
    transform: translateY(100%);
}

@keyframes entry {
    from {transform: translateY(0%)}
    to {transform: translateY(100%)}
} */