.bg-container, .title-container{
    position: fixed;
    height: 100%;
    width: 100%;
}

.bg-container{
    z-index: -2;
}

.bg, .bg.xtra{
    height: 100%;
    position: absolute;
    right: 0%;
    transform: translateX(13.3%);
    /* filter: brightness(0.95); */
}

.bg.xtra, .bg-water.xtra{
    transform: scaleX(-1) translateX(calc(86.7% - 1px));
}

div.bg-water {
    height: 100%;
    width: auto;;
    position: absolute;
    right: 0%;
    transform: translateX(13.3%);
    background-image: url("../../assets/image/main-menu/main_menu_bg_water.png");
    background-size: 100%;
    filter: url("#turbulence");
}

img.bg-water{
    height: 100%;

}

.bg-water.invisible{
    /* visibility: hidden; */
}

.title-container {
    z-index: -1;
}

.title {
    position: absolute;
    max-height: 14.3%;
    width: auto;
    max-width: 95%; /*90%*/
    left: 50%;
    top: 22.3%;
    transform: translateX(-50%);
    animation: float 10s ease-in-out infinite;
}
@keyframes float {
	0% {
		/* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		transform: translate(-50%,0%);
	}
	50% {
		/* box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2); */
		transform: translate(-50%,-5%) scale(1.05);
	}
	100% {
		/* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		transform: translate(-50%,0%);
	}
}