.nav-bar, .phantom-nav-bar {
    width: 100vw;
    height: 3em;
}

.nav-bar {
    position: fixed;
    bottom: 0;
    background-color: var(--bar-background-color);
    color: var(--main-text-color);
    box-shadow: var(--bar-shadow-color) 0 -1px 3px;
    /* background-color: pink; */
    /* text-align: center; */
}

.phantom-nav-bar {
    margin-top: 1em;
    /* background-color: lightblue; */
}

.nav-item-container {
    padding: 0 5vw;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.nav-item {
    font-size: 0.75em;
    text-align: center;
    display: inline-block;
    padding: 1em;
    width: 30vw;
}