<div class="container">

	<div class="inner-container" *ngIf="!showcontact">
		<div class="title">
			Hello! This is trésor.
		</div>
		<div class="description">
			<div>
				trésor is a treasure hunting game developer for a capstone project by three year three students!
			</div>
			<div>
				Tap on "Play now!" to find out more!
			</div> 
		</div>
	</div>
	<div class="inner-container" *ngIf="showcontact">
		<div class="title contact">
			Contacts
		</div>
		<div class="contact-container">
			<div class="contact-name">
				General Team Contact
			</div>
			<div class="email">
				nptresor@gmail.com
			</div>
		</div>
		<div class="contact-container">
			<div class="contact-name">
				Nicholas Ong, Design Lead
			</div>
			<div class="email">
				s10182648@connect.np.edu.sg
			</div>
		</div>
		<div class="contact-container">
			<div class="contact-name">
				Robin Yong, Technical Lead
			</div>
			<div class="email">
				s10179209@connect.np.edu.sg
			</div>
		</div>
		<div class="contact-container">
			<div class="contact-name">
				Sheline Sim, Project Lead
			</div>
			<div class="email">
				s10177516@connect.np.edu.sg
			</div>
		</div>
	</div>
	<div (click)="redirect()" class="play-btn">Play now!</div>
	<div (click)="togglecontact()" class="contact-btn">{{showcontact?"Description":"Contact"}}</div>
</div>

